{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block content %}
<h1>Новости</h1>
<div class="news-item">
    <h2>Конференция ПИС-2024.Выставки и доклады по ВКР</h2>
    <p>Автор: admin | 29.05.2024 10:17</p>
</div>
<div class="news-item">
    <h2>Компания SimbirSoft ищет Junior бек-енд разработчиков</h2>
    <p>Автор: admin | 29.05.2024 09:43</p>
</div>
<div class="news-item">
    <h2>Вакансия в команду Intelsy</h2>
    <p>Автор: admin | 29.05.2024 09:43</p>
</div>
{% endblock %}
