{% extends "base.html" %}
{% block title %}Направления{% endblock %}
{% block content %}
<h1 class="header-index">Направления</h1>
<table>
    <thead>
        <tr>
            <th>Квалификация</th>
            <th>Направление</th>
            <th>Профиль</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">Бакалавриат</td>
            <td>09.03.03 Прикладная информатика</td>
            <td>Автоматизация бизнес-решений</td>
        </tr>
        <tr>
            <td>09.03.03 Прикладная информатика</td>
            <td>Прикладная информатика в экономике</td>
        </tr>
        <tr>
            <td>09.03.04 Программная инженерия</td>
            <td>Программное обеспечение информационных систем</td>
        </tr>
        <tr>
            <td>09.03.04 Программная инженерия</td>
            <td>Программирование мобильных систем</td>
        </tr>
    </tbody>
</table>
{% endblock %}
